[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.5.2"

[packages]

flask = "*"
pypatgen = "*"
nltk = "*"
scrapy = "*"
tensorflow = "*"
gunicorn = "*"


[dev-packages]

